---
import { getCollection } from 'astro:content'
import { excludeDrafts, sortBlogPosts } from '@/functions'
import { ITEMS_PER_PAGE } from '@/consts'
import { useTranslations } from '@/i18n'
import Link from './Link.astro'
import FormattedDate from './FormattedDate.astro'
import SectionContainer from './SectionContainer.astro'

const t = useTranslations()
const posts = await getCollection('blog', excludeDrafts).then(sortBlogPosts)
---

<SectionContainer>
  <div class="blog" id="blog">
    <div class="header" data-reveal>
      <h2 class="title">Blog</h2>
      <p class="description">
        Get cozy with my digital storytelling. My blogs are like warm, friendly chats about web development.
      </p>
    </div>

    <ul>
      {
        posts.slice(0, ITEMS_PER_PAGE).map(({ slug, data }) => (
          <li data-reveal>
            <Link href={`/blog/${slug}`}>
              <span class="date">
                <FormattedDate date={data.date} />
              </span>
              <span class="name">{data.title}</span>
              <span class="time">{data.duration}</span>
            </Link>
          </li>
        ))
      }
    </ul>

    <a href="/blog" class="more" data-reveal data-astro-prefetch="viewport">
      <u>See all articles</u>
      <sup>({posts.length})</sup>
    </a>
  </div>
</SectionContainer>

<style lang="scss">
  .blog {
    margin-top: 200px;
    .title {
      font-size: 64px;
      margin: 30px 0;
      font-family: var(--font-family-secondary);
    }
    .description {
      font-size: 13px;
      margin: 0 0 70px;
      max-width: 478px;
    }

    ul {
      &:hover a {
        opacity: 0.5;
      }
      li {
        width: max-content;
        max-width: 100%;
      }
      a {
        display: grid;
        padding: 20px 0;
        align-items: center;
        column-gap: 20px;
        grid-template-columns: 100px repeat(2, auto);
        transition: opacity 0.6s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    .name {
      font-size: 20px;
      font-weight: 500;
    }

    .date,
    .time {
      font-size: 14px;
      opacity: 0.8;
    }
    .time {
      align-self: flex-end;
    }

    .more {
      font-size: 18px;
      display: flex;
      column-gap: 5px;
      align-items: center;
      text-transform: uppercase;
      margin-top: 20px;
      width: max-content;
      cursor: pointer;
      sup {
        margin-top: -3px;
        font-size: 14px;
      }
    }

    @media (max-width: 860px) {
      margin-top: 70px;
      margin-bottom: 130px;

      ul a {
        grid-template-columns: 1fr;
        row-gap: 10px;
      }
    }
  }
</style>
