---
import presentation from '@/data/presentation'
import { Icon } from 'astro-icon/components'
import SkipToContent from '../components/SkipToContent.astro'
import TimeComponent from './TimeComponent.astro'
---

<header>
  <SkipToContent />
  <div class="menu container">
    <div class="logo">
      <a href="/"><Icon name="logo" width={87} height={87} /></a>
    </div>

    <nav class="navigation" aria-label="Main navigation desktop">
      <ul>
        <li class="menu-item">
          <a href="#about">about</a>
        </li>
        <li class="menu-item">
          <a href="#services">services</a>
        </li>
        <li class="menu-item">
          <a href="#projects">projects</a>
        </li>
        <li class="menu-item">
          <a href="#blog">blog</a>
        </li>
        <li class="menu-item">
          <a href="#playground">playground</a>
        </li>
      </ul>
    </nav>

    <div class="info">
      <ul class="contact">
        <li><a href={`mailto:${presentation.mail}`}>{presentation.mail}</a></li>
        <li><a href={`tel:${presentation.phone}`}>{presentation.phone}</a></li>
      </ul>
      <ul class="coordinate">
        <li><p>{presentation.location} <TimeComponent /></p></li>
        <li><p>{presentation.coordinate}</p></li>
      </ul>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    top: 0;
    padding-top: var(--default-space);
    position: sticky;
    text-transform: lowercase;
    z-index: 1000;
    .navigation ul {
      width: max-content;
      li {
        opacity: 0;
        animation: reveal 1.6s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
        &:nth-child(2) {
          animation-delay: 0.3s;
        }
        &:nth-child(3) {
          animation-delay: 0.6s;
        }
        &:nth-child(4) {
          animation-delay: 0.9s;
        }
        &:nth-child(5) {
          animation-delay: 1.2s;
        }
      }
      a {
        transition: opacity 0.6s ease;
      }
      &:hover a {
        opacity: 0.5;
      }
      a:hover {
        opacity: 1;
      }
    }
    .contact li {
      opacity: 0;
      animation: reveal 1.6s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
      a {
        transition: transform 0.6s ease;
        display: inline-block;
        &:hover {
          transform: translateX(5px);
        }
      }
      &:nth-child(2) {
        animation-delay: 0.3s;
      }
    }
    .coordinate li {
      opacity: 0;
      animation: reveal 1.6s cubic-bezier(0.77, 0, 0.175, 1) 0.6s forwards;
      &:nth-child(2) {
        animation-delay: 0.9s;
      }
    }
    .menu {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      width: 75%;
      opacity: 0;
      animation: reveal 1.6s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
      svg {
        animation: rotatingLogo 50s linear infinite;
      }
    }
    .info {
      min-width: 160px;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .navigation {
      flex: 1;
      min-width: 100px;
    }
    @media (max-width: 655px) {
      .logo {
        width: 100%;
        svg {
          margin-left: auto;
          height: 50px;
          width: auto;
        }
      }
      .navigation,
      .info {
        display: none;
      }
    }
  }
</style>

<script>
  const title = document.title
  let interval
  // Event listener for visibility change
  document.addEventListener('visibilitychange', function () {
    if (document.hidden) {
      setTimeout(() => {
        if (document.hidden) {
          // Function to update tab title with ellipsis animation
          let ellipsisCount = 1
          interval = setInterval(function () {
            const ellipsis = 'Zzzz' + '.'.repeat(ellipsisCount - 1)
            document.title = ellipsis
            ellipsisCount = (ellipsisCount % 3) + 1 // Loop between 1, 2, 3
          }, 1000) // Adjust the interval as needed
        }
      }, 5000)
    } else {
      // Page is visible again, revert to default favicon
      clearInterval(interval)
      document.title = 'Welcome Back, Explorer!'
      setTimeout(() => {
        setTimeout(() => (document.title = title), 1000)
      }, 1000)
    }
  })
</script>
