---
import services, { type Service } from '@/data/services'
import { Icon } from 'astro-icon/components'
---

<section class="services container" id="services">
  <div class="header" data-reveal>
    <p class="subtitle">What I Offer</p>
    <h2 class="title">Services</h2>
    <p class="description">Turning Pixels into Perfection, Explore My Web Development Services.</p>
  </div>
  <ul class="list">
    {
      services.length !== 0 &&
        services.map((service: Service) => (
          <li class="item" data-reveal>
            <Icon name={service.icon.name} width={service.icon.width} height={service.icon.height} />
            <div class="content">
              <h3 class="subtitle">{service.title}</h3>
              <p class="description">{service.description}</p>
            </div>
          </li>
        ))
    }
  </ul>
</section>

<style lang="scss">
  .services {
    display: flex;
    justify-content: space-between;
    margin-top: 320px;
    margin-bottom: 200px;
    column-gap: 80px;
    position: relative;
    align-items: flex-start;
    .header {
      top: 200px;
      padding-bottom: 100px;
      position: sticky;
      .subtitle {
        font-size: 11px;
      }
      .title {
        font-size: 64px;
        margin: 30px 0;
        font-family: var(--font-family-secondary);
      }
      .description {
        margin: 0 0 70px;
        max-width: 478px;
        font-size: 15px;
        color: #fff;
      }
    }
    .description {
      color: rgba(255, 255, 255, 0.8);
      font-size: 20px;
    }
    .item {
      display: flex;
      align-items: flex-start;
      column-gap: 50px;
      &:not(:last-child) {
        margin-bottom: 100px;
      }
      svg {
        max-width: 15vw;
        height: auto;
      }

      .subtitle {
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 9px;
        font-size: 25px;
        line-height: 1.5;
      }
    }
    .list {
      flex: 1;
      max-width: 600px;
    }
    .content {
      max-width: 450px;
      flex: 1;
    }

    @media (max-width: 1070px) {
      margin-top: 150px;
      margin-bottom: 50px;
      flex-direction: column;
    }
    @media (max-width: 1230px) {
      .header {
        padding-bottom: 20px;
        position: static;
        .description {
          max-width: unset;
        }
      }
      .item {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 40px;

        .subtitle {
          font-size: 24px;
        }
        svg {
          max-width: 110px;
          margin-right: auto;
        }
      }

      .content {
        max-width: unset;
        width: 100%;
      }
    }
  }
</style>
