---
import { Image } from 'astro:assets'
import SectionContainer from '@/components/SectionContainer.astro'
import PageTitle from '@/components/PageTitle.astro'
import Link from '@/components/Link.astro'
import RootLayout from './RootLayout.astro'
import { type CollectionEntry, getEntries } from 'astro:content'
import FormattedDate from '@/components/FormattedDate.astro'
import Tag from '@/components/Tag.astro'
import PostCover from '@/components/PostCover.astro'
import DetailsSummary from '@/components/DetailsSummary.astro'
import SocialShareButtons from '@/components/social-icons/SocialShareButtons.astro'
import { POST_METADATA } from '@/consts'
import { useTranslations } from '@/i18n'

const t = useTranslations()

interface Props {
  post: CollectionEntry<'blog'>
  next?: CollectionEntry<'blog'>
  prev?: CollectionEntry<'blog'>
}

const { post, next, prev } = Astro.props as Props
const authors: CollectionEntry<'authors'>[] = await getEntries(post.data.authors)
const tags: CollectionEntry<'tags'>[] = await getEntries(post.data.tags)
const related: CollectionEntry<'blog'>[] = await getEntries(post.data.related)

const articleOgDetails = {
  publishedTime: post.data.date,
  modifiedTime: post.data.lastmod,
  authors: authors.map(({ data }) => data.name),
  authorTwitter: authors.map(({ data }) => data.twitter).at(0),
  tags: tags.map(({ data }) => data.name),
  cover: post.data.cover,
}

const { Content, headings } = await post.render()
---

<RootLayout title={post.data.title} description={post.data.summary} article={articleOgDetails}>
  <SectionContainer>
    <article class="blog-article">
      <header>
        <Link href="/blog" class="" aria-label={t('layouts.postLayout.backToBlog')}>
          &larr; {t('layouts.postLayout.backToBlog')}
        </Link>
        <!-- title -->
        <PageTitle>{post.data.title}</PageTitle>
        <!-- summary -->
        {POST_METADATA.showSummary && <p class="summary">{post.data.summary}</p>}
        <!-- cover -->
        {post.data.cover && POST_METADATA.showCover && <PostCover {post} />}
      </header>

      <div class="content">
        <!-- draft -->
        {
          post.data.draft && (
            <div class="">
              <p class="">{t('layouts.postLayout.draftMessage')}</p>
            </div>
          )
        }
        <!-- table Of Contents -->
        {
          headings.length > 0 && POST_METADATA.showTableOfContents && (
            <DetailsSummary class="" title={t('layouts.postLayout.tableOfContents')}>
              <ul class="">
                {headings.map(({ slug, text, depth }) => (
                  <li
                    class:list={{
                      'depth-2': depth === 2,
                      'depth-3': depth === 3,
                      'depth-4': depth === 4,
                      'depth-5': depth === 5,
                      'depth-6': depth === 6,
                    }}
                  >
                    <Link href={`#${slug}`}>{text}</Link>
                  </li>
                ))}
              </ul>
            </DetailsSummary>
          )
        }

        <!-- content -->
        <slot />
        <Content />
      </div>

      <footer>
        <div class="footer-top">
          <!-- tags -->
          {
            tags && (
              <div class="tags">
                {tags.map((tag) => (
                  <Tag tag={tag} />
                ))}
              </div>
            )
          }
          <!-- share -->
          <SocialShareButtons title={post.data.title} description={post.data.summary} />
        </div>

        <!-- next || prev -->
        {
          (next || prev) && (
            <div class="flex justify-between py-4 xl:block xl:space-y-8 xl:py-8">
              {prev && (
                <div>
                  <h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">
                    {t('layouts.postLayout.previousPost')}
                  </h2>
                  <div class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400">
                    <Link href={`/blog/${prev.slug}`}>{prev.data.title}</Link>
                  </div>
                </div>
              )}
              {next && (
                <div>
                  <h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">
                    {t('layouts.postLayout.nextPost')}
                  </h2>
                  <div class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400">
                    <Link href={`/blog/${next.slug}`}>{next.data.title}</Link>
                  </div>
                </div>
              )}
            </div>
          )
        }

        <!-- related -->
        {
          related.length > 0 && (
            <div class="py-4 xl:pb-8">
              <h2 class="text-xs uppercase tracking-wide text-gray-500 dark:text-gray-400">
                {t('layouts.postLayout.relatedPosts')}
              </h2>
              <ul class="flex flex-wrap gap-2 xl:space-x-0 xl:space-y-0">
                {related.map((post) => (
                  <li class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400">
                    <Link href={`/blog/${post.slug}`}>{post.data.title}</Link>
                  </li>
                ))}
              </ul>
            </div>
          )
        }
      </footer>
    </article>
  </SectionContainer>
</RootLayout>

<style lang="scss">
  .blog-article {
    padding-top: 80px;
    font-size: 16px;
    .page-title {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 28px;
      padding-bottom: 30px;
      margin: 30px 0;
    }
    .summary {
      opacity: 0.8;
      max-width: 1300px;
    }
    .footer-top {
      display: flex;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      justify-content: space-between;
      padding-bottom: 50px;
      margin: 50px 0;
    }
    .tags {
      display: flex;
      column-gap: 10px;
    }
    :global(p, h2, h3, h4) {
      margin-bottom: 15px;
      max-width: 1300px;
    }
    :global(p + h2, p + h3, p + h4) {
      margin-top: 25px;
    }
    :global(li) {
      margin-bottom: 5px;
    }
    :global(hr) {
      margin-bottom: 15px;
    }
    :global(ol, ul) {
      margin-bottom: 25px;
      margin-left: 18px;
      text-indent: 5px;
    }
    :global(ol) {
      list-style: decimal;
    }
    :global(ul) {
      list-style: disc;
    }
    :global(code) {
      font-size: 12px;
      font-weight: 700;
      background-color: rgba(255, 255, 255, 0.08);
      transition: background-color 0.3s ease-in;
      border-radius: 5px;
      padding: 2px 5px;
    }
  }
</style>
